<!DOCTYPE html>
<html lang="en">
  <head>
    
    <link rel="stylesheet" href="/css/styles-merged.css">
    <link rel="stylesheet" href="/css/style.min.css">
  </head>
  <body >

  <section >
    <div class="container">
      <div class="row">
        {{#each result}}
        <div class="col-md-4 col-sm-6">
          <div class="probootstrap-card probootstrap-listing">
            <div class="probootstrap-card-media">
              <img src="../img/slider_1.jpg" class="img-responsive" alt="Free HTML5 Template by uicookies.com">
              {{!-- <a href="#" class="probootstrap-love"><i class="icon-heart"></i></a> --}}
            </div>
            <div class="probootstrap-card-text">
              <h2 class="probootstrap-card-heading"><a href="/users/pgview">{{Pname}}</a></h2>
              <div class="probootstrap-listing-location">
                <i class="icon-location2"></i> <span>{{Loco}}</span>
              </div>
              <div class="probootstrap-listing-category for-sale"><span>{{Vroom}} rooms vacant</span></div>
              <div class="probootstrap-listing-price"><strong>$ {{Rent}}</strong> / month</div>
            </div>
            <div class="probootstrap-card-extra">
              <ul>
                <li>
                  Extras:
                  <span>{{Extras}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
          {{/each}}
          
      </div>
    </div>
  </section>

  </body>
</html>